.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cta {
  background: red;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cards {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
  background: #eee;
  padding: 20px;
  border-radius: 30px;
  width: 700px;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.card span {
  font-size: 30px;
}
